<!DOCTYPE html>
<html lang="en">
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<style>
	*{
		box-sizing:boarder-box;
		text-align:left;
	}
	.main{
		float:left;
		width: 60%;
		padding: 0 20px;
		text-align: left;
	}
	@media only screen and (max-width:620px){
		.main{
		width:100%;
		}
	}
	</style>
	
</head>

<body>
<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
  <h1>Make new group</h1>
</div>

<div class="main">
<form action="/registration/" method="post"><--!/registration/ is return url-->
	{% csrf_token %}
	{{form}}
	<input type="submit" value= "Create">
</form>
</div>



</body>
</html>