{% extends 'base.html' %}

{%block title%}
    <h1>Welcome {{username}}</h1>

{%endblock%}


{%block body%}

    <div class="row">
        <div class="col-2">
            <div class="My Groups">
                <h3>My Groups</h3>
            </div>
            {% for g in groups %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{{g.get_absolute_url}}">
                            <h5 class="card-title">{{g.group_name}}</h5>
                            <p class="card-text">Fine: {{g.fine}}</br>Reward: {{g.reward}}</br>Deposit: {{g.deposit}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% empty %}
            <p> You are not included in any groups yet</p>
            {% endfor %}


        </div>
    </div>

    <!--paginator-->
    {% if groups.has_other_pages %}
    <ul class="pagination">
        {% if groups.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>{% else %}
        {% endif %}

        <span class="current">
            Page{{page_obj.number}} of {{page_obj.paginator.num_pages}}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </ul>

    {% endif %}



{%endblock %}
